.active {
    position: relative;
}

@media only screen and (max-width: 600px) {
    #active2 {
    position:relative;
    left: -3.5rem;
    }

  }
  .AIIMG {
    position: relative;
    width: 4REM;
    height: auto;
  }